:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-title-color: #ffffff;
  --primary-accent-color: #18a0fb;
  --secondary-accent-color: #2196f3;
  --primary_bg_color: #2f303a;
  --secondary-bg-color: #ffffff;
  --third-bg-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.header__logo {
  display: flex;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.header__logo-web {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
  text-decoration: none;
}

.mobile-menu__btn-open,
.mobile-menu__btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 480px) {
  .mobile-menu__btn-open,
  .mobile-menu__btn-close {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn-open,
  .mobile-menu__btn-close {
    display: none;
  }
}

.mobile-menu__btn-icon,
.mobile-menu__btn-close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__btn-icon:hover, .mobile-menu__btn-icon:focus,
.mobile-menu__btn-close-icon:hover,
.mobile-menu__btn-close-icon:focus {
  fill: var(--secondary-accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-bg-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 48px 40px;
}

.mobile-menu__nav_item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--secondary-accent-color);
}

.mobile-menu__contacts_list {
  margin-bottom: 64px;
}

.mobile-menu__contacts_item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
}

.mobile-menu__contacts-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-menu__social_list {
  display: flex;
}

.mobile-menu__social_item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobile-menu__social_link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item :last-child {
  margin-right: 0;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #fffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--secondary-accent-color);
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--secondary-bg-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo .web {
  color: var(--secondary-accent-color);
}

.footer-logo .studio {
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    width: 231px;
    height: 81px;
    margin-bottom: 0;
  }
}

.address-link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-title-color);
  margin-bottom: 9px;
}

.mail-footer,
.tel-footer {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (min-width: 480px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    width: 206px;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  fill: 10%;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--secondary-accent-color);
  fill: var(--secondary-accent-color);
}

.footer-social-link:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  fill: var(--secondary-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.subscribe-input {
  padding: 15px 0 15px 16px;
  width: 100%;
  height: 50px;
  color: var(--primary-title-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0);
}

@media screen and (min-width: 480px) {
  .subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-submit-btn {
  width: 200px;
  height: 50px;
  background: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-submit-btn:hover {
  background-color: var(--primary-accent-color);
}

@media screen and (min-width: 786px) {
  .subscribe-submit-btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.subscribe-icon-submit-btn {
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .subscribe-icon-submit-btn {
    display: inline-block;
    vertical-align: middle;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  width: 30px;
  height: 30px;
  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--secondary-accent-color);
}

.modal-form {
  padding: 40px;
}

.modal-form-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.modal-form-field-wrap {
  position: relative;
  display: block;
}

.modal-form-field {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input:focus {
  border: 1px solid var(--secondary-accent-color);
  outline: none;
}

.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-form-input:focus + .icon-modal-form {
  fill: var(--secondary-accent-color);
  outline: none;
}

.modal-form-message {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form-message:focus {
  border: 1px solid var(--secondary-accent-color);
  outline: none;
}

.modal-form-message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.check-box::before {
  display: block;
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url("../images/icon-off.svg");
}

@media screen and (max-width: 1199px) {
  .check-box {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .check-box {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-check:checked + .check-box::before {
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-color: transparent;
  background-origin: border-box;
}

.modal-check:focus + .check-box::before {
  outline: 1px solid var(--primary-text-color);
}

.policy-anchor {
  display: inline-block;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--secondary-accent-color);
}

@media screen and (max-width: 1199px) {
  .policy-anchor {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .policy-anchor {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--secondary-accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-btn:hover {
  background-color: #188ce8;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  outline: 1px solid #ececec;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 479px) {
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    display: flex;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__list .current {
  color: var(--primary-accent-color);
}

.header-nav__list .link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__list .link:hover {
  color: var(--primary-accent-color);
}

.header-nav__list .link:focus {
  color: var(--primary-accent-color);
}

.header-nav__link {
  padding-top: 26px;
  padding-bottom: 26px;
  position: relative;
}

.header-nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-accent-color);
  border-radius: 2px;
  left: auto;
  bottom: 0;
  display: block;
}

@media screen and (max-width: 479px) {
  .header-contacts__list {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header-contacts__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-contacts__item-mail {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item-mail:hover {
  color: var(--secondary-accent-color);
}

.header-contacts__item-mail:focus {
  color: var(--secondary-accent-color);
}

@media screen and (min-width: 768px) {
  .header-contacts__item-mail {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item-mail {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope:hover .icon-envelope:focus {
  fill: var(--secondary-accent-color);
}

.header-contacts__item-tel {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item-tel:hover {
  color: var(--secondary-accent-color);
}

.header-contacts__item-tel:focus {
  color: var(--secondary-accent-color);
}

@media screen and (min-width: 768px) {
  .header-contacts__item-tel {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__item-tel {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone:hover .icon-smartphone:focus {
  fill: var(--secondary-accent-color);
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-bg {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg_studio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (min-width: 480px) {
  .hero-title {
    margin: 0 auto 30px;
    width: 360px;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero-btn {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  min-width: 200px;
  min-height: 50px;
  background-color: var(--secondary-accent-color);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.features {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.features-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 4 - 30px);
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: var(--third-bg-color);
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-title-color);
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

.features-text {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-section-hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-section-hidden {
    display: block;
  }
}

.work-section {
  padding-top: 0;
}

.work-list {
  display: flex;
  margin-left: -30px;
}

.work-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.work-item-wrap {
  position: relative;
}

.work-item-text {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
  position: absolute;
  bottom: 0px;
}

.team {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-bg {
  background: var(--third-bg-color);
}

.team-item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team-item-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-item-bg {
  background: var(--secondary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-top: 30px;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  align-items: center;
  justify-content: center;
}

.clients-list-item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--secondary-accent-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--secondary-accent-color);
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary_bg_color);
}

@media screen and (min-width: 480px) {
  .footer-container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-container-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--third-bg-color);
  border-radius: 4px;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
  background-color: var(--primary-accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.btn:focus {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
  background-color: var(--primary-accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .btn {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.portfolio-item-container {
  padding: 20px 24px;
}

.portfolio-item {
  flex-basis: calc(100% / 2 - 30px);
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-item:hover {
  flex-basis: calc(100% / 2 - 30px);
  background-color: var(--secondary-bg-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-bottom: 30px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
  }
  .portfolio-item:hover {
    flex-basis: calc(100% / 3 - 30px);
    background-color: var(--secondary-bg-color);
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-description {
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--primary-title-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-description {
  transform: translateY(-100%);
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */